sudo: false
language: python

python:
  - "2.7"

install:
  - pip install tox
  - pip install coveralls

script:
  - tox

after_success:
  - coveralls

deploy:
  provider: pypi
  user: acsbidoul
  password:
    secure: S4Yz2N1aEcf0F4FN55fzbeok8nIICgsek6qhq3rvnt2TSmx8J78rbYb4uOrr4yPPjITKr8HWBvRIShqXn/6xO4eS6SugDqQUgOr/Q9iM250UnuobycgqG7/aFC0UBnv7u7Kgcozt2f8h+QbnBNHFY57Asz1Vrga7V8FM8Mqz+NjUZETqP89ML5w7j25W0OzNEO2faaTfcRGveQFY79FzCS5yCJ5njh2QMdvUARZ1yDKaQdiwvspPJ1A4PeP8aUOB+d6Hg4YIsUyjry66Pr2w2UsBFrV+V0hyRJXAX+XdoaH8qN6qnLXzfnSSlKONnzl3cRXztY+zZG13vHJCc2iPaYRjolr0432q4YXRlYn+pplEfYsrVjUD3NV+C6kKI8DF2Hf6itPcYGKsaOKuD9msH9tDXzhjQdPH4q4kmVly/65JlqyuCYcqo/u+ACwtyiDoA7SZWQnxu4I/CVVJtK+fgKfxeWimTrEvOG1un1o11Cd8Lgx+iRyan0oGypnKrGYmWYhqFydW5i8BPBQm194BSCHqVBBAiYwClaAniVJ+m4mY9ftOKIwDRd8/yKpFMQn55wRh3Lfgh9wcbbW50quKcQRhzNQW+fFGHX3ccQd76VBRzSodVwwG8s+fylhX0oy4BZeVSNrBAt4wQPRfpTO7i6M6vQZwEZF9hdS1oCd3Ds4=
  distributions: "sdist bdist_wheel"
  skip_upload_docs: true
  on:
    repo: acsone/bobtemplates.odoo
    branch: master
    tags: true
